header nav {
  padding: 20px 0 !important;
  background-color: #fff;
}

header nav #title {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(95, 125, 236);
}

header nav ul li a {
  padding-right: 30px !important;
  font-weight: 650 !important;
}

header #headerTextAndIMG {
  margin-top: 50px;
}
header .separationFromSpan {
  margin-right: 60px;
}

header #landingsDropdown {
  box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}

header #landingsDropdown #landingIMG {
  display: none;
}

header #landingsDropdown h5 {
  color: blue;
  font-size: 0.97rem;
  font-weight: bold;
}

header #landingsDropdown .col-lg-6 p {
  font-size: 0.83rem;
}

/* Flechita que baja en el dropdown */
.rotate1 {
  margin-left: 6px;
  transition: 0.5s;
  font-size: 0.76rem;
}
.nav-link[aria-expanded="true"] .rotate1 {
  transform: rotate(90deg);
}

/* 1 wave */

.myOwnPadding {
  padding-top: 100px;
}

.myWave {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.myWave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.myWave .shape-fill {
  fill: #f2f6fc;
}

/* 2 wave */
.myWave2 {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.myWave2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 74px;
}

.myWave2 .shape-fill {
  fill: #f2f6fc;
}

/* Animacion */
#headerTextAndIMG {
  animation: slide-top 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-top {
  0% {
    transform: translateY(300px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  header {
    padding: 0 30px;
  }

  header .separationFromSpan {
    margin-right: 0;
  }

  header #headerTextAndIMG h1 {
    font-size: 2.3rem;
    margin-bottom: 30px;
  }

  header #headerTextAndIMG p {
    margin-bottom: 30px;
    font-size: 1.13rem;
    color: grey;
  }

  header #headerTextAndIMG a {
    display: block;
    margin-bottom: 15px;
  }

  header img {
    display: none;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  header .separationFromSpan {
    margin-right: 0;
  }
  header #headerTextAndIMG h1 {
    margin-bottom: 30px;
  }

  header #headerTextAndIMG p {
    margin-bottom: 30px;
  }

  header img {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  header img {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  header #landingsDropdown {
    width: 500px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  header #landingsDropdown {
    width: 800px;
    left: -450px !important;
    margin: 0;
    padding: 0;
  }

  header #landingsDropdown #landingIMG {
    background-image: url("https://sb-ui-kit-pro.startbootstrap.com/assets/img/backgrounds/bg-dropdown-xl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
  }
}
